<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Fran Garcia Nava/IdeaProjects/RestAssuredLamansys">
        <classes>
            <class name="tests.ReqresInAPITest">
            </class>
            <class name="tests.DogAPITest">
            </class>
        </classes>
    </test>
</suite>